header {
    background-image: url(./pattern.png);
    height: 230px;
    background-color: #4ea0ff;
    background-repeat: repeat;
    background-size: 300px;
}
.logo {
  height: 40px;
  margin-top: 180px;
  margin-left: 20px;
}
body {
    margin: 0 auto;
}

.author span {
    color: lightblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
}

.highlight-row {
    background: lightblue;
}

.highlight-headrow {
    background: lightskyblue;
}
.monitor1 {
    width: 400px;
    height: 400px;
    background-image: url(./monitor.jpg);
}
.Interessarti img {
    width: 250px;
}
